body {
    background-color: #111;
}

.explanation {
    font-family: verdana, serif;
    color: #CCC;
    margin-left: auto;
    margin-right: auto;
    width: 99%;
    margin-bottom: 5px;
    font-size: x-small;
    position: absolute;
    top: 42px;
}

.page-header {
    position: absolute;
    top: 0;
    width: 100%;
    font-family: helvetica, serif;
    font-weight: lighter;
    color: #CCCCCC;
    font-style: normal;
    text-align: center;
    font-size: xx-large;
    margin: 0;
}

.explanation p a {
    color: #6495ed;
}

html {
    background-color: #111;
    overflow: hidden;
}

.explanation a {
    color: #6495ed
}

#globe {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
}
